.root {
    -fx-background-color: #1e1e1e;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
}

.text-area {
    -fx-control-inner-background: #2a2a2a;
    -fx-text-fill: white;
}

.list-view {
    -fx-control-inner-background: #2a2a2a;
    -fx-text-fill: white;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 10;
}

.sidebar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08);
}

.sidebar-icon {
    -fx-fill: #bdbdbd;
    -fx-font-size: 18px;
}

.sidebar-button:hover .sidebar-icon {
    -fx-fill: white;
}
.tooltip {
    -fx-font-size: 14px;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-padding: 8 12 8 12;
}

